In [1]:
import geopandas as gpd
import matplotlib.pyplot as plt
from shapely.geometry import Point
import pandas as pd

In [2]:
url = "https://naciscdn.org/naturalearth/110m/cultural/ne_110m_admin_0_countries.zip"
world = gpd.read_file(url)
usa = world[world['ADMIN'] == 'United States of America']

In [4]:
all_reports = pd.read_csv('/Users/jimnguyen/IRMII/SCS_API/data/All_SCS_Reports.csv',low_memory = False)

In [5]:
all_reports['BEGIN'] = (
    all_reports['BEGIN_YEARMONTH'].astype(str)
    + all_reports['BEGIN_DAY'].astype(str).str.zfill(2)
    + all_reports['BEGIN_TIME'].astype(str).str.zfill(4)
).astype(int)

In [6]:
all_reports['END'] = (
    all_reports['END_YEARMONTH'].astype(str)
    + all_reports['END_DAY'].astype(str).str.zfill(2)   
    + all_reports['END_TIME'].astype(str).str.zfill(4) 
).astype(int)

In [7]:
reports = all_reports[['BEGIN','END','EVENT_TYPE','BEGIN_LAT','BEGIN_LON','END_LAT','END_LON','MAGNITUDE']]

In [8]:
hail_reports = reports[reports['EVENT_TYPE']== 'Hail']
hail_reports

,BEGIN,END,EVENT_TYPE,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,MAGNITUDE
1865,195509221610,195509221610,Hail,38.70,-94.08,NaN,NaN,1.50
1868,195507191330,195507191330,Hail,30.50,-87.90,NaN,NaN,0.75
1875,195510281645,195510281645,Hail,33.28,-86.78,NaN,NaN,2.00
1879,195506121700,195506121700,Hail,37.08,-107.80,NaN,NaN,1.00
1882,195505071845,195505071845,Hail,37.08,-94.68,NaN,NaN,1.75
...,...,...,...,...,...,...,...,...
1168917,202407061246,202407061246,Hail,40.58,-99.38,40.58,-99.38,1.75
1168918,202407061520,202407061520,Hail,40.32,-98.90,40.32,-98.90,0.75
1168944,202407061255,202407061255,Hail,40.55,-99.32,40.55,-99.32,2.00
1168953,202407061258,202407061258,Hail,40.71,-99.88,40.71,-99.88,1.00
1168955,202407061645,202407061645,Hail,40.54,-97.59,40.54,-97.59,1.50

In [10]:
fill_hail_reports = hail_reports
fill_hail_reports

,BEGIN,END,EVENT_TYPE,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,MAGNITUDE
1865,195509221610,195509221610,Hail,38.70,-94.08,NaN,NaN,1.50
1868,195507191330,195507191330,Hail,30.50,-87.90,NaN,NaN,0.75
1875,195510281645,195510281645,Hail,33.28,-86.78,NaN,NaN,2.00
1879,195506121700,195506121700,Hail,37.08,-107.80,NaN,NaN,1.00
1882,195505071845,195505071845,Hail,37.08,-94.68,NaN,NaN,1.75
...,...,...,...,...,...,...,...,...
1168917,202407061246,202407061246,Hail,40.58,-99.38,40.58,-99.38,1.75
1168918,202407061520,202407061520,Hail,40.32,-98.90,40.32,-98.90,0.75
1168944,202407061255,202407061255,Hail,40.55,-99.32,40.55,-99.32,2.00
1168953,202407061258,202407061258,Hail,40.71,-99.88,40.71,-99.88,1.00
1168955,202407061645,202407061645,Hail,40.54,-97.59,40.54,-97.59,1.50

In [11]:
fill_hail_reports['END_LAT'] = (
    fill_hail_reports['END_LAT']
      .fillna(fill_hail_reports['BEGIN_LAT'])
)
fill_hail_reports['END_LON'] = (
    fill_hail_reports['END_LON']
      .fillna(fill_hail_reports['BEGIN_LON'])
)
fill_hail_reports

/var/folders/m8/6vszwx195fl9598f558j20ph0000gn/T/ipykernel_3691/77819830.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fill_hail_reports['END_LAT'] = (
/var/folders/m8/6vszwx195fl9598f558j20ph0000gn/T/ipykernel_3691/77819830.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fill_hail_reports['END_LON'] = (

,BEGIN,END,EVENT_TYPE,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,MAGNITUDE
1865,195509221610,195509221610,Hail,38.70,-94.08,38.70,-94.08,1.50
1868,195507191330,195507191330,Hail,30.50,-87.90,30.50,-87.90,0.75
1875,195510281645,195510281645,Hail,33.28,-86.78,33.28,-86.78,2.00
1879,195506121700,195506121700,Hail,37.08,-107.80,37.08,-107.80,1.00
1882,195505071845,195505071845,Hail,37.08,-94.68,37.08,-94.68,1.75
...,...,...,...,...,...,...,...,...
1168917,202407061246,202407061246,Hail,40.58,-99.38,40.58,-99.38,1.75
1168918,202407061520,202407061520,Hail,40.32,-98.90,40.32,-98.90,0.75
1168944,202407061255,202407061255,Hail,40.55,-99.32,40.55,-99.32,2.00
1168953,202407061258,202407061258,Hail,40.71,-99.88,40.71,-99.88,1.00
1168955,202407061645,202407061645,Hail,40.54,-97.59,40.54,-97.59,1.50

In [13]:
filtered_hail_reports= fill_hail_reports.dropna()
filtered_hail_reports

,BEGIN,END,EVENT_TYPE,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,MAGNITUDE
1865,195509221610,195509221610,Hail,38.70,-94.08,38.70,-94.08,1.50
1868,195507191330,195507191330,Hail,30.50,-87.90,30.50,-87.90,0.75
1875,195510281645,195510281645,Hail,33.28,-86.78,33.28,-86.78,2.00
1879,195506121700,195506121700,Hail,37.08,-107.80,37.08,-107.80,1.00
1882,195505071845,195505071845,Hail,37.08,-94.68,37.08,-94.68,1.75
...,...,...,...,...,...,...,...,...
1168917,202407061246,202407061246,Hail,40.58,-99.38,40.58,-99.38,1.75
1168918,202407061520,202407061520,Hail,40.32,-98.90,40.32,-98.90,0.75
1168944,202407061255,202407061255,Hail,40.55,-99.32,40.55,-99.32,2.00
1168953,202407061258,202407061258,Hail,40.71,-99.88,40.71,-99.88,1.00
1168955,202407061645,202407061645,Hail,40.54,-97.59,40.54,-97.59,1.50

In [14]:
nan_counts = filtered_hail_reports.isna().sum()
nan_counts

BEGIN         0
END           0
EVENT_TYPE    0
BEGIN_LAT     0
BEGIN_LON     0
END_LAT       0
END_LON       0
MAGNITUDE     0
dtype: int64

## Now we can compare

In [ ]:
hail_convective_path = '/Users/jimnguyen/IRMII/SCS_API/convective_outlooks'